body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  display: flex;
  background-color: #ECEFEB;
  color: #54595D;
  width: 50%
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
footer {
  display: flex;
  justify-content: space-around;
}
a {
  display: inline;
  margin: 5px;
  text-decoration: none;
  color: #fff;
}
img {
  width: 50px;
  height: 50px;
}
container {
}
box {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  width: 125px;
  height: 125px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px 0 10px 10px;
  text-align: center;
}
#about {
  background-image: url('about.jpg');
  background-size: cover;
  background-color: rebeccapurple;
}
#portfolio {
  background-image: url('portfolio.jpg');
  background-size: cover;
  background-color: #ff00ff;
}
#experience {
  background-image: url('experience.png');
  background-size: cover;
  background-color: #ff0000;
}
p {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 5%;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
footer {
  margin: 10px auto 20px auto;
}
photo {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-image: url("lena.jpg");
  background-size: cover;
  background-color: #990574;
  margin: 0 25px;
  float: right;
}
h1 {
 margin: 20px auto 0 auto;
}
